.submit__button{
    width: 80%;
    height: 40px;
    border-radius: 4px;
    background: rgb(233,52,71);
    border: none;
    outline: none;
    color: white;
    font-size: larger;
    font-weight: bolder;
    margin-left: 4%;
    cursor: pointer;
}
.submit__button:hover{
    background: rgba(233,52,71,0.8);
}