.main__container{
    width: 100vw;
    height: 70vh;
    display: flex;
}
.search__contanier{
    display: flex;
    flex-direction: column;

}
.search__by__tag{
    height: calc(100% + 10vh);
    width: 25vw;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 20px;
    border-radius: 4px;
}
.search__title{
    margin-top: 30px;
}
.search_tag_container{
    display: flex;
    width: 100%;
    height: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.popular__container{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 75vw;
}
.popular__title{
    margin-left: 3%;
}
.popular__results{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.results__container{
    height: 100vh;
    width: 75vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: scroll;
}
@media(max-width:600px){
    .search__by__tag{
        display: none;
    }
    .popular__container{
        width: 90vw;
        margin-left: 5vw;
    }
    .results__container{
        width: 90vw;
        margin-left: 5vw;        
    }
}